/*=============================*/
/* ==== VISEULLE APLIQUER ==== */
/*=============================*/ 


/*  body  */

body {
    background-color: var(--fond-principal);
    text-align: center;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}