/*=============================*/
/* ==== PALETTE -- TEXTES ==== */
/*=============================*/


:root {
    --police-titre: "DM Serif Text", serif;
    --taille-titre-second: "DM Serif Text", serif;
    --police-texte: "Comic Neue", cursive;
}


/*  taille écran  */

@media(min-width:1000px){
    :root {
    --taille-titre-principal: 1.80em;
    --taille-titre-second: 1.60rem;
    --taille-texte: 1.40rem;
    --gras-titre: 700;
    --gras-texte: 400;   
}}

@media(max-width:999px){
    :root {
    --taille-titre-principal: 1.60rem;
    --taille-titre-second: 1.40rem;  
    --taille-texte: 1.20rem;
    --gras-titre: 700;
    --gras-texte: 400;     
}}


/*  style titre  */

h1 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    transition: 0.5s;
}

h2, h3 {
    cursor: text;  
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-second);
    color: var(--texte-titre);
    transition: 0.5s;
}


/*  style texte  */

span {
    cursor: text;
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-second);
    color: var(--texte-courant);
    line-height: 2;
}

/*  style texte  */
p {
    cursor: text;  
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.5;
    padding: 10px 0px 10px 0px;
}

/*  style lien  */
a {
    cursor: pointer;
    font-style: oblique;
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    text-decoration: underline;
    color: var(--texte-courant);
    line-height: 1.5;
}

li {
    cursor: text;  
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.5;
}


/*  clic  */
a:active {
    cursor: pointer;
    color: var(--objet-clic);
}